
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPatient</title>
</head>
<body>
    <h3>Enter Patient details</h3>
<form method="post" action="/Patient/AddPatient">
    <input type="text" placeholder="Name" name="name" value=""/>
    <br />
    <input type="text" placeholder="code" name="code" value=""/>
    <br />
    <input type="text" placeholder="age" name="age" value=""/>
    <br />
    <input type="submit" name="" value="Add Patient" />
    <input type="reset" name="" value="Clear" />
</form>
</body>
</html>
