@{
    ViewData["Title"] = "Home Page";
    //razor pages
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

current time : @DateTime.Now
@{
    
    <br />
    for(int i=1; i<=5; i++)
    {
        <p>@i</p>
    }
}

